@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'regular';
  src: url('./assets/fonts/regular.otf') format('opentype');
}

@font-face {
  font-family: 'light';
  src: url('./assets/fonts/light.otf') format('opentype');
}

@font-face {
  font-family: 'bold';
  src: url('./assets/fonts/bold.otf') format('opentype');
}

@font-face {
  font-family: 'onestthin';
  src: url('./assets/fonts/onestthin.ttf') format('truetype');
}

@font-face {
  font-family: 'onestregular';
  src: url('./assets/fonts/onestregular.ttf') format('truetype');
}


@font-face {
  font-family: 'onestmedium';
  src: url('./assets/fonts/onestmedium.ttf') format('truetype');
}

@font-face {
  font-family: 'onestbold';
  src: url('./assets/fonts/onestbold.ttf') format('truetype');
}

@font-face {
  font-family: 'onestextrabold';
  src: url('./assets/fonts/onestextrabold.ttf') format('truetype');
}

@media (max-width: 650px) {
    .meetings-buttons {
        margin-top: 5px;
        border-radius: 6px;
        background: #F1F1F1;
        padding: 8px;
    }

    .just-first-mb {
        margin-left:10px;
    } 

    .meetings-buttons a {
        padding-left: 3px;
        padding-right: 3px;
    }

    .meetings-buttons .btn {
        border-radius: 3px;
        background: #FFF;
        padding: 11px 20px 10px 20px;
        color: #464646;
        font-family: onestregular;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width:100% !important;
    }
    .section-buttons {
        display:none;
    }
    .hide-on-mobile-device {
        display:none;
    }
    .display-on-mobile-device {
        display:block;
    }

    .events-mobile {
        position: relative; /* Establish positioning context */
        border-radius: 6px;
        background: #F8F8F8;
        padding: 16px;
        margin: 1rem 0rem;
    }
    
    .blockshade {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px; 
        background: linear-gradient(to bottom, transparent, #FF0000); 
        border-radius: 0 0 6px 6px; 
        z-index: 1;
    }
    
    .mobile-block-button {
        float:right;
    }
    .events-mobile h3 {
        color: #AFAFAF;
        font-family: regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin:0.5rem 0rem;
    }
    .events-mobile .btn-dark {
        border-radius: 6px !important;
        background: #0A0A0A !important;
        padding: 8px 24px !important;
        color:#FFF;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .top20px {
        margin-top:20px;
    }
    .custom-mobile-with-scroll {
        height: 350px;
        overflow-y: auto;
        overflow-x: hidden !important;
        padding-right:0.5rem !important;
    }
    
    .custom-mobile-with-scroll::-webkit-scrollbar {
        width: 5px;
    }
    
    .custom-mobile-with-scroll::-webkit-scrollbar-track {
        background: #f2f2f2;
    }
    
    .custom-mobile-with-scroll::-webkit-scrollbar-thumb {
        background: #BF5AF2;
        border-radius: 6px;
    }

    .mobile-event-list-block {
        padding:15px 16px;
        border-radius: 6px;
        background: #FFF;
        margin-bottom:16px;
    }
    .mobile-event-list-block h4 {
        color: #000;
        font-family: regular;
        font-size: 16px;
        font-weight: 600;
        padding:0.25rem 0rem !important;
        text-transform: capitalize;
        margin-bottom:5px !important;
    }
    .mobile-event-list-block p {
        color: #BF5AF2;
        font-family: regular;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom:8px !important;
    }
    .mobile-event-list-block-stats {
        padding:5px 10px;
        border-radius: 3px;
        background: rgba(169, 79, 214, 0.1);
        float:right;
        color: #BF5AF2;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .mobile-event-list-block-stats b {
        margin-left:13px;
        color: #BF5AF2;
        text-align: right;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .mobile-event-list-block-stats-description {
        color: #8D8D8D;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom:16px;
    }
    .mobile-event-list-block-footer-more {
        font-family: regular;
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        float:right;
        margin-top:-5px;
    }
    .mobile-event-list-block-footer-more svg {
        margin-left:8px;
        margin-bottom:2px;
    }
    .mobile-event-list-block-footer-coming {
        color: #A1A1A1;
        font-family: regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .mobile-event-list-block-footer-coming img {
        margin-right:0.5rem;
    }

    .meetings-mobile {
        position: relative; /* Establish positioning context */
        border-radius: 6px;
        background: #F8F8F8;
        padding: 16px;
        margin: 1rem 0rem;
    }
        
    .meetings-mobile h3 {
        color: #AFAFAF;
        font-family: regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin:0.5rem 0rem;
    }
    .global-mobile-right-link {
        float:right;
        font-family: bold;
        font-size: 18px;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top:8px;
    }
    .global-mobile-right-link svg {
        margin-left:8px;
        margin-bottom:4px;
    }
    .total-revenue {
        margin-bottom:21px !important;
    }
    .main-avatar {
        width:40px !important;
        height:40px !important;
    }
    .graph-filter .dropdown-toggle::before {
        position: absolute;
        left: 0;
        content: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'><path d='M8.99953 9.87831L12.7119 6.16602L13.7725 7.22667L8.99953 11.9997L4.22656 7.22667L5.28723 6.16602L8.99953 9.87831Z' fill='black'/></svg>");
        border: none;
        margin-right:8px;
    }
    
    .graph-filter .dropdown-toggle::after {
        display:none !important;
    }
    .graph-filter-mobile .btn:hover, .graph-filter-mobile .btn:focus {
        background: #F1F1F1 !important
    }
    .graph-filter-mobile {
        color: #1E1E1E;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding:0px 8px;
    }
    .test-data-info {
        text-align: left !important;
        margin-top:16px;
    }
    .custom-class-col {
        max-width:32% !important;
        text-align: center !important;
        padding-left:5px !important;
        padding-right:5px !important;
    }
    .dashboard-events {
        margin:0.5rem 0rem !important;
        min-width: auto !important;
    }
    .dashboard-events-title span {
        margin-top:0px !important;
    }
    .main-routes {
        margin-bottom: 5rem !important;
    }
    .custom-mobile-modal .modal-body {
        padding:0px;
    }
    .custom-mobile-modal .modal-content {
        border-radius: 6px;
        background: #FFF;
        padding:16px;
        margin:0px 8px;
        max-height:50vh !important;
        overflow-y: auto;
    }
    .custom-mobile-modal .modal-header {
        padding:0px !important;
    }
    .custom-mobile-modal .modal-title {
        color: #000;
        font-family: regular;
        font-size: 24px;
        font-weight: 600;
        border-bottom:none;
        padding:0px;
        width:100%;
    }
    .custom-mobile-modal .modal-header {
        width:100% !important;
        text-align: center;
        border-bottom: none !important;
        margin-bottom: 0px !important;
    }
    .text-align-start {
        text-align: start !important;
    }
    .custom-mobile-modal .btn-close {
        opacity: 1 !important;
        box-shadow: none !important;
        position:absolute;
        right:25px;
    }
    .custom-mobile-modal .modal-content label {
        color: #A1A1A1;
        font-family: light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .custom-mobile-modal .modal-content .form-control {
        border-radius: 6px;
        padding:12px !important;
        border: 1px solid #A1A1A1;
        background: #F8F8F8;
        color:#000 !important;
    }
    .custom-select-modal__control {
        border-radius: 6px !important;
        border: 1px solid #A1A1A1 !important;
        background: #F8F8F8 !important;
        color:#000 !important;
        padding:5px !important;
        font-size:14px !important;
    }
    .Toastify__toast-container {
        top:0px !important;
    }
    .modal-times-container .row {
        margin:5px 0px;
    }
    .modal-submit-btn {
        margin-top:24px !important;
        border-radius: 6px !important;
        background: #0A0A0A !important;
        font-family: bold !important;
        font-size: 18px !important;
        font-weight: 700 !important;
    }
    .custom-mobile-modal .modal-content::-webkit-scrollbar {
        width: 5px;
    }
    
    .custom-mobile-modal .modal-content::-webkit-scrollbar-track {
        border-radius: 32px;
        background: #F8F8F8;
    }
    
    .custom-mobile-modal .modal-content::-webkit-scrollbar-thumb {
        background-color: #BF5AF2;
        border-radius: 32px;
        border: 3px solid #BF5AF2;
    }

    .bg-mobile-block {
        border-radius: 3px;
        background: #FFF;
        padding:16px;
    }
    .bg-mobile-block-info-title {
        color: #000;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom:12px;
    }
    .bg-mobile-block-info label {
        color: #8D8D8D;
        font-family: light;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .bg-mobile-block-info span {
        font-family: regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .custom-text-gradient {
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .mobile-status-invoice {
        position:relative !important;
    }
    .mobile-status-invoice div {
        top:2px !important;
    }
    .add-left-p {
        color: #707070 !important;
    }
    .more-link {
        font-family: regular;
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position:absolute;
        top:45%;
        right:15px;
    }
    .more-link svg {
        margin-left:8px;
    }
    .graph-block-mobile {
        padding:12px;
        border-radius: 8px;
        background: #F8F8F8;
        margin:0.5rem 0rem;
    }
    .graph-block-mobile h3 {
        color: #AFAFAF;
        font-family: regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding:0.25rem;
    }
    .form-check-input:checked {
        background-color: #BF5AF2;
        border-color: #BF5AF2;
    }
    .modal-body hr {
        border-color: #c2c2c2 !important;
        margin:16px 0px 16px 0px;
    }
    .modal-custom-info-content p {
        color: #8D8D8D;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .modal-custom-info-witht span {
        color: #BF5AF2;
        font-family: regular;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .modal-custom-info-witht p {
        color: #A1A1A1;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom:0.25rem !important;
    }
    .modal-custom-info-witht b {
        font-family: regular;
        font-size:15px;
        font-weight:600;
    }
    .modal-custom-info-witht b img {
        margin-right: 12px !important; 
    }
    .event-copy-link-modal {
        float:right;
        color: #BF5AF2;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        cursor:pointer;
    }
    .event-copy-link-modal:hover, .event-copy-link-modal:focus {
        color: #BF5AF2;
    }
    .custom-invoice-modal-block label {
        margin-bottom:4px;
        color: #A1A1A1;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .custom-invoice-modal-block {
        color: #0A0A0A;
        font-family: regular;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom:16px;
    }
    .custom-invoice-modal-block-right {
        float:right;
        color: #BF5AF2;

    }
    .addcssforstatus {
        position:relative !important;
        max-width:5px !important;
        top:14px !important;
    }
    .invoice-link {
        text-align: center;
        font-family: regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;        
    }
    .invoice-link svg {
        margin-left:8px;
    }
    .contacts-stats {
        border-radius: 6px;
        background: #F8F8F8;
        padding:16px;
        margin-top:16px;
    }
    .contacts-stats h3 {
        color: #AFAFAF;
        font-family: regular;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom:16px;
    }
    .contracts-stats-number {
        color: #0A0A0A;
        text-align: right;
        font-family: regular;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .contracts-stats-text {
        padding-top:0.25rem;
        color: #0A0A0A;
        font-family: regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .status-contracts-stats {
        position: relative !important;
        top: auto !important;
        left: auto !important;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        margin-top: 10px;
    }
    .addstats-margin {
        margin-bottom:16px;
        margin-left:20px;
    }
    .contract-mobile-block {
        border-radius: 3px;
        background: #FFF;
        padding: 16px;
        margin-bottom:16px;
        position: relative;
    }
    .contract-mobile-block-title {
        color: #000;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom:12px;
    }
    .contract-mobile-block-info div:first-child {
        margin-bottom:8px;
    }
    .contract-mobile-block-info div label {
        color: #8D8D8D;
        font-family: regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .contract-mobile-block-info div span {
        color: #707070;
        font-family: regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .contract-mobile-block-info-company {
        font-family: regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .statuscontracticomobile {
        padding: 0px 6px;
        border-radius:50% !important;
        font-size:10px;
    }
    .contract-mobile-block-info div b {
        color: #707070;
        font-family: regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400 !important;
        line-height: normal;
    }
    .mobile-see-more-contract {
        font-family: regular;
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position:absolute;
        right:22px;
        bottom:17px;
    }
    .mobile-see-more-contract svg {
        margin-left:8px;
        margin-top:2px;
    }
    .display-contract-body {
        margin:0.5rem 0rem;
        padding:0.5rem;
        border-radius: 3px;
        background: #E1E1E1;
    }
    .contract-mobile-block-info-modal label {
        color: #A1A1A1;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .contract-mobile-block-info-modal p {
        color: #0A0A0A;
        font-family: regular;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .mobile-client-block {
        margin-bottom:16px;
        padding:16px;
        border-radius: 3px;
        background: #FFF;
    }
    .mobile-client-block-info span {
        color: #000;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .mobile-client-block-info p {
        color: #8D8D8D;
        font-family: regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .mobile-client-block-info-customtext {
        font-family: regular;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top:4px;
        margin-bottom:7px;
    }
    .mobile-client-block-info p svg {
        margin-left:8px;
    }
    .mobile-clients-list-block-footer-more {
        font-family: regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position:absolute;
        top:35%;
        right:16px;
    }
    .mobile-clients-list-block-footer-more svg {
        margin-left:8px;
    }
    .modal-client-info-row-info {
        margin-top:15px;
    }
    .modal-client-info-row-info span {
        color: #0A0A0A;
        font-family: regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .modal-client-info-row-info p {
        color: #A1A1A1;
        font-family: Regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .client-block-main-modal {
        margin:8px 0px;
    }
    .client-block-main-modal label {
        color: #A1A1A1;
        font-family: regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .client-block-main-modal-customcolor {
        color: #BF5AF2 !important;
        font-family: regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .client-block-main-modal-link {
        float:right;
        border-radius: 3px;
        background: rgba(191, 90, 242, 0.10);        
        padding: 4px 16px;
        margin-top:-5px;
        font-family: regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .client-block-main-modal-link b {
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .client-block-main-modal-link svg {
        margin-left:8px;
    }
    .client-block-main-modal p {
        color: #0A0A0A;
        font-family: regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .money-modal-count {
        float:right;
        font-family: regular;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .client-block-main-modal-money {
        margin:8px 0px;
    }
    .graph-filter {
        padding:4px !important;
    }
    .graph-filter .btn {
        color: #1E1E1E;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left:0.5rem;
    }
    .mobile-nav-modal {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99; 
        display:block !important;
        padding:20px 32px;
    }
    
    .mobile-nav-modal::after {
        content: '';
        background: rgba(248, 248, 248, 0.01);
        backdrop-filter: blur(84px);        
        position: fixed;
        z-index: 1; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .mobile-nav-modal-content {
        position: relative;
        z-index: 9 !important;
        min-height: 100vh;
    }
    
    .mobile-nav-modal-content-nav {
        display: grid;
        grid-template-columns: auto 30px;
        align-items: center;
        margin: 0 auto; 
    }
    
    .mobile-nav-logo {
        max-width: 100%;
        height: auto;
    }
    
    .close-icon-container {
        display: flex;
        justify-content: flex-end; 
    }
    .close-icon-container svg {
        padding-top:5px;
        cursor: pointer !important;
    }
    .close-icon {
        cursor: pointer !important;
    }
    .mobile-nav-modal-list {
        position: absolute;
        position: absolute;
        top: 25%;
    }
    .mobile-nav-modal-list .nav-link {
        color: #464646;
        font-family: regular;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom:24px !important;
    }
    .custom-main-nav-link-btn {
        width:100% !important;
    }
    .mobile-nav-modal-buttons {
        position:absolute;
        top:60% !important;
        width:100%;
    }
    .mobile-nav-modal-buttons .nav-button-custom {
        width:100% !important;
    }
    .logo-container {
        text-align: center;
    }
    .mobilet-16 {
        margin-top:16px !important;
    }
    .semi-main-first-info-title {
        padding-top:0px !important;
        padding-bottom:0px !important;
    }
    .semi-main-first {
        padding-bottom:104px !important;
    }
    .finances {
        padding-bottom:136px !important;
    }
    .meeting-f-b {
        color: #BF5AF2;
        font-family: light;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .meeting-f-b svg {
        margin-right:4px !important;
    }
    .mobile-event-list-block-footer-coming a {
        text-decoration: none !important;
    }
    .contracts-add-css {
        min-width:auto !important;
    }
    .custom-invoice-modal-block span {
        font-family: regular;
        font-weight:600;
    }
    .invite-clients-second {
        font-family: regular;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        top:35% !important;
    }
    .invite-clients-second svg {
        filter: invert(60%) sepia(85%) saturate(4975%) hue-rotate(249deg) brightness(99%) contrast(91%) !important;
    }
    .upload-pdf-button {
        border-radius: 6px;
        background: #F8F8F8;
        padding:16px 32px;
        color: #0A0A0A;
        font-family: bold;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .upload-pdf-button svg {
        margin-left:8px;
    }
    .addjusfont-onmob {
        font-size:11px !important;
        margin-right:0px !important;
    }
    .addjusfont-onmob-onlyf {
        font-size:10px !important;
    }
    .mobileupper-status {
        margin-top:-12px;
    }
    .contracts-styled-1 {
        font-size:24px;
        font-family: regular;
    }
    .contracts-styled-1-2 {
        font-size:18px;
        font-family: regular;
    }
    .contracts-styled-2 {
        font-size:32px;
        font-family: bold;
    }
    .contracts-styled-2-1 {
        font-size:18px;
        font-family: regular;
        font-weight:600;
        margin-top:5px;
    }
    .home-images-padding {
        margin-bottom:16px;
    }
    .filter-side {
        margin-top:-7px !important;
    }
    .dashboard-contracts-block-more {
        top:40% !important;
    }
    .add-new-item-mobile {
        font-family: regular;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: linear-gradient(180deg, #BF5AF2 0%, #9444BC 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
    .add-new-item-mobile svg {
        margin-right:8px;
        margin-top:-4px;
    }
    .pr-8 {
        padding-right:8px !important;
    }
    .pl-8 {
        padding-left:8px !important;
    }
    .custom-mobile-modal .btn-dark {
        font-size:16px;
        font-weight:600;
        background:#0A0A0A !important;
    }
    .modal-top-global {
        margin-top:44px !important;
        padding-right:16px !important;
    }
    .modal-top-global .modal-content {
        min-height: 80vh !important;
        max-height: 80vh !important;
    }
    .acc-logout {
        background-color: #0A0A0A !important;
    }
    .modal-custom-info-content-questions {
        border-radius: 8px;
        background: #F8F8F8;
        padding:16px;
    }
    .modal-custom-info-content-questions h3 {
        color: #AFAFAF;
        font-family: bold;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .modal-question-d label {
        color: #A1A1A1;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .modal-question-d label::first-letter {
        text-transform: uppercase;
    }
    .modal-question-d p {
        color: #0A0A0A;
        font-family: regular;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .modal-question-d {
        border-top:solid 1px #E8E8E8;
        padding-top:12px;
    }
    .modal-question-d-reply {
        border-radius: 8px;
        background: #FFF;
        padding:16px;
        border:none !important;

        color: #515151;
        font-family: regular;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .invite-clients {
        margin-bottom:16px;
    }
    .dashboard-contracts-block-more a {
        cursor: pointer;
    }
    .dashboard-events-block-footer-more a {
        cursor: pointer;
    }
    .dashboard-main-block {
        min-height: 0px !important;
    }
}

@media(max-width:350px) {
    .meetings-buttons .btn {
        font-size: 70% !important;
    }
}